<template>
  <h1>{{ msg }}</h1>
  <button @click="count++">count is: {{ count }}</button>
  <p>Edit <code>components/HelloWorld.vue</code> to test hot module replacement.</p>
  <span>{{userName}}</span>
</template>

<script >
  import {useStore} from "vuex";
  import {computed} from "vue";
export default {

  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      count: 0
    }
  },
  setup(){
    const store = useStore();
    const userName = computed(()=>store.state.userName)
    return{
      userName
    }

  }
}
</script>
