<template>
  <!--<img alt="Vue logo" src="./assets/logo.png" />-->
  <!--<HelloWorld msg="Hello Vue 3.0 + Vite" />-->
  <!--<button @click="gotoMain">去首页</button>-->
  <router-view></router-view>

</template>

<script lang="ts">
import HelloWorld from './components/HelloWorld.vue'
import {onBeforeRouteLeave, useRoute, useRouter} from "vue-router";

export default {

  name: 'App',
  components: {
    HelloWorld
  },
  setup(){
    // 获取路由器实例
    const router = useRouter()
    // route是响应式对象,可监控器变化
    const route = useRoute()

    const gotoMain = ()=>{
      console.log('router',router)
      router.push('/home/main')
    }
    return {
      gotoMain
    }
  }
}
</script>
