<template>

    <HelloWorld msg="Hello Vue 3.0 + Vite" />
    <a-button type="primary">阿里云</a-button>
    <a-button type="dashed">新浪云</a-button>
    <a-button type="danger">腾讯云</a-button>
    <span>这是store{{userName}}</span>
    <div @click="gotoOther">
        gotoOther
    </div>
    <router-view> </router-view>


</template>

<script>
    import { Button,Layout,Menu,Row,Col,Icon} from 'ant-design-vue';
    import HelloWorld from '../components/HelloWorld.vue'
    import {useStore} from "vuex";
    import {computed} from "vue";
    import {onBeforeRouteLeave, useRoute, useRouter} from "vue-router";

    export default {
        name: "home",
        components: {
            HelloWorld
        },
        setup(){
            const store = useStore();
            // 获取路由器实例
            const router = useRouter()
            // route是响应式对象,可监控器变化
            const route = useRoute()
            const userName = computed(()=>store.state.userName);
            const gotoOther = ()=>{
                router.push('/home/userInfo')

            }
            return{
                userName,
                gotoOther
            }
        }
    }
</script>

<style scoped>

</style>
