<template>
    <div style="width: 100%;height: 600px;background-color: lightcyan">
        userInfo

        <div @click="gotoBack">返回</div>
    </div>

</template>

<script>
    import {onBeforeRouteLeave, useRoute, useRouter} from "vue-router";

    export default {
        setup(){
            // 获取路由器实例
            const router = useRouter()
            // route是响应式对象,可监控器变化
            const route = useRoute()
            const gotoBack = () => {
                console.log('gotoBack')
                router.push('/home')
            }
            return {
                gotoBack
            }
        }
    }
</script>

<style scoped>

</style>
